@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Poppins", serif;
    font-size: 62.5%;
  }

  h1 {
    font-size: 5.8rem;
    font-weight: 700;
  }

  h2 {
    font-size: 4rem;
    font-weight: 600;
  }

  h3 {
    font-size: 2.4rem;
    font-weight: 500;
  }

  h4 {
    font-size: 2rem;
    font-weight: 400;
  }

  h5 {
    font-size: 1.6rem;
    font-weight: 500;
  }

  h6 {
    font-size: 1.4rem;
    font-weight: 400;
  }

  p {
    font-size: 1.4rem;
    font-weight: 300;
  }

  li {
    font-size: 2rem;
    font-weight: 300;
  }

  a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
  }

  button {
    font-size: 1.4rem;
    font-weight: 500;
  }

  .toast-message {
    color: #fff;
    font-size: 1.4rem;
  }

  #horizontal-box::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .cart-dropdown {
    @apply border-slate-300 border-[0.1rem] w-[32rem] p-[1rem] bg-[#FAFAFA] shadow-lg rounded-[1rem] absolute flex flex-col left-[-25rem] top-[4rem];
  }

  .cart-dropdown::before {
    @apply border-slate-300 border-t-[0.1rem] border-l-[0.1rem] content-[""] absolute top-[-1.5rem] right-[4.5rem] w-[3rem] h-[3rem] bg-[#FAFAFA] rotate-[45deg];
  }
  .input {
    @apply rounded-full border border-stone-200 px-4 py-2 text-sm transition-all duration-300 placeholder:text-stone-400 focus:outline-none focus:ring focus:ring-yellow-400 md:px-6 md:py-3;
  }

  .btn-product-card {
    @apply shadow-xl border-[1px] border-slate-200 bg-white w-[4rem] h-[4rem] rounded-[50%] flex justify-center items-center hover:bg-blue-500 hover:text-white duration-200;
  }

  /* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
    background:
      var(--c) 0% 50%,
      var(--c) 50% 50%,
      var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }

  .counter-content {
    width: 42px;
    user-select: none;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #4a4a4a;
    box-sizing: border-box;
    border: none;
    border-top: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
    background-color: #ffffff;
    outline: none;
    text-align: center;
  }

  .counter-button {
    border: 1px solid #e6e6e6;
    background-color: #fafafa;
    width: 24px;
    height: 34px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
  }

  .cart-dropdown {
    user-select: none;
    animation: slideDown 300ms ease-in-out forwards;
  }

  .shop-dropdown {
    user-select: none;
    animation: slideDown 300ms ease-in-out forwards;
  }

  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-60px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes loading {
    20% {
      background-position:
        0% 0%,
        50% 50%,
        100% 50%;
    }
    40% {
      background-position:
        0% 100%,
        50% 0%,
        100% 50%;
    }
    60% {
      background-position:
        0% 50%,
        50% 100%,
        100% 0%;
    }
    80% {
      background-position:
        0% 50%,
        50% 50%,
        100% 100%;
    }
  }

  .lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #23a6f0;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
